body {
    background: #506ca8;
    margin: 0px;

}

.pricing-features {
    padding: 0px;
    font-size: 30px;
}

.panel {
    background: #fff;
    width: 100%;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding: 5px;
    
}

.pricing-img {
    width: 100%;
}

.pricing-plan {
    text-align: center;
}

.pricing-plan > ul {
    list-style: none;
    color: blueviolet;
}


.pricing-header {
    font-size: 30px;
    color: blue;
}

.pricing-price {
    font-size: 50px;
    color: blue;
}

.pricing-button {
    background: blue;
    color: #fff;
    text-decoration: none;
    font-size: 25px;;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.horizontal-line {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-top: 10px;
}

@media (min-width: 960px) {
    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        padding: 20px;
        width: 50%;
        height: 100%;
        margin-top: 20px;
    }

    .pricing-plan {
       
    }

    .container {
      
   
    display: flex;
    justify-content: center;
    align-items: center;

        
    }
}
